build/

data/
data
**/temp/
**/tmp/
**/*.tmp/
**/.cache*
**/tmp.*
.pytest_cache

#cmake
cmake-build-*/

#editor

## idea
.idea/

## vscode
.vscode/
*.code-workspace

#jupyter
**/.ipynb_checkpoints/

#conda
.conda/

#python
**/__pycache__
**/*.egg-info
**/*.pyc
**/*.so

#python ide
**/.mypy_cache/

#wsl
*:Zone.Identifier

#dask
**/dask-worker-space/

#unknown
**/.empty.conda/

#osx
**/.DS_Store
